## Logistic Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
file = open("german.data-numeric.txt",'r')
line = file.readlines()
file.close()
# file 에 numeric 데이터 저장. 라인 단위로 line 에 저장.

dataset = []
for i in range(1000):
    a = list(" ".join(line[i].split()))
    memory = ""
    main = []
    for i in a:
        if i != " ":
            memory+=i
        else:
            main.append(int(memory))
            memory = " "
    if memory != " ":
        main.append(int(memory))
    dataset.append(main)
# dataset 리스트에 line 단위로 저장된 데이터를 전처리하여 저장

df = pd.DataFrame(dataset)

In [3]:
col_names2 = ['Check DM', 'Duration', 'Credit History', 'Credit Amount',
            'Saving Account', 'Employment', 'Personal Status', 'Residence',
            'Property', 'Age', 'Other Installment', 'Existing Credit',
            'Liable People', 'Telephone', 'Foreign', '?', '??', 'No Debtor', 'Co Debtor',
            'Rent House','Own House', 'Job1', 'Job2', 'Job3', 'Credit']
df.columns = col_names2

In [4]:
df.head()

,Check DM,Duration,Credit History,Credit Amount,Saving Account,Employment,Personal Status,Residence,Property,Age,...,?,??,No Debtor,Co Debtor,Rent House,Own House,Job1,Job2,Job3,Credit
0,1,6,4,12,5,5,3,4,1,67,...,0,0,1,0,0,1,0,0,1,1
1,2,48,2,60,1,3,2,2,1,22,...,0,0,1,0,0,1,0,0,1,2
2,4,12,4,21,1,4,3,3,1,49,...,0,0,1,0,0,1,0,1,0,1
3,1,42,2,79,1,4,3,4,2,45,...,0,0,0,0,0,0,0,0,1,1
4,1,24,3,49,1,3,3,4,4,53,...,1,0,1,0,0,0,0,0,1,2

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X = df[['Check DM',
 'Credit History',
 'Property',
 'Other Installment',
 'Foreign',
 '?',
 '??',
 'No Debtor',
 'Co Debtor',
 'Rent House']]
y = df['Credit']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [11]:
logmodel = LogisticRegression()
logmodel.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [14]:
predictions = logmodel.predict(X_test)

In [20]:
print(classification_report(y_test,predictions))
print(confusion_matrix(y_test, predictions))

             precision    recall  f1-score   support

          1       0.76      0.91      0.83       226
          2       0.67      0.38      0.49       104

avg / total       0.73      0.75      0.72       330

[[206  20]
 [ 64  40]]

In [21]:
64 * (-5) + 20 * (-1)

-340

In [23]:
X = df.drop('Credit', axis = 1)
y = df['Credit']

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [39]:
logmodel = LogisticRegression()
logmodel.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [40]:
predictions = logmodel.predict(X_test)

In [41]:
print(classification_report(y_test,predictions))
print(confusion_matrix(y_test, predictions))

             precision    recall  f1-score   support

          1       0.77      0.91      0.83       204
          2       0.68      0.42      0.52        96

avg / total       0.74      0.75      0.73       300

[[185  19]
 [ 56  40]]